{% extends 'base.html' %}

{% block head %}
<title>Employee updates</title>
{% endblock %}

{% block body %}
<div class="form-container">
    

    <h1 style="text-align: center">Update Student Application Form</h1>

    <div class="form">
        <form action="/update_form/{{project.id}}" method="POST" enctype="multipart/form-data">

        
        <label for="pName">Student Name:</label><br/>
        <input type="text" name="pName" id="pName" value="{{ project.task }}" required><br/><br/>

        <label for="product-type">Product Type:</label><br/>
        <select id="product-type" name="product_type" required>
            <option value="Computer Science" {% if project.category == 'Computer Science' %}selected{% endif %}>Computer Science</option>
            <option value="Mechanical" {% if project.category == 'Mechanical' %}selected{% endif %}>Mechanical</option>
            <option value="IT" {% if project.category == 'IT' %}selected{% endif %}>IT</option>
            <option value="Civil" {% if project.category == 'Civil' %}selected{% endif %}>Civil</option>
        </select>
        <br/><br/>

        <label for="pr">Age:</label><br/>
        <input type="number" name="pr" id="pr" value="{{ project.priority }}" required><br/><br/>

        <label for="due-date">Graduation Date:</label><br/>
        <input type="date" id="due-date" name="due_date" value="{{ project.due_date }}" required><br/><br/>

        
        <!-- Current File Display -->
       

        <!-- File Upload -->
        <label for="file-upload">Upload Resume:</label><br/>
        <input type="file" id="file-upload" name="file_upload"><br/><br/>

        <button class="btn" type="submit">Update Form</button>
        </form>
    </div>
    <div style="text-align: left; margin-top:20px;">
        <a href="/final_project"><button class="btn">Cancel</button></a>
  </div>
</div>

{% endblock %}